Source: sems-external-libs
Maintainer: yeti team <dev@yeti-switch.org>
Section: net
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 11), git, cmake, ninja-build, clang-14, build-essential, devscripts, libssl-dev, libxml2-dev, libsamplerate-dev, libcurl3-dev | libcurl4-dev, libhiredis-dev, librtmp-dev, libev-dev, python3-dev, libspeex-dev, libgsm1-dev, libmp3lame-dev, libopus-dev, libprotobuf-dev, protobuf-compiler, liblzo2-dev, libsctp-dev, libevent-dev, libc-ares-dev, libkrb5-dev, libboost-all-dev, libtiff5-dev, libnghttp2-dev, libwslay-dev, libbzrtp-dev, libbctoolbox-dev, libbrotli-dev, libsqlite3-dev, libpq-dev, libvo-amrwbenc-dev, libopencore-amrnb-dev, libopencore-amrwb-dev, libmpg123-dev, libgtest-dev

Package: sems-external-libs-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev
Description: SIP Express Media Server, very fast and flexible SIP media server
 SEMS, the SIP Express Media Server, is a free, high performance, extensible media
 server and SBC for SIP (RFC3261) based VoIP  services. It features voicemail, conferencing,
 announcements, pre-call announcements, prepaid service, calling card service etc.
 .
 Third party libraries to build SEMS
